body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.center {
    background-color: plum;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
#center {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;

}
#head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
}
select {
    width: 100px;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#bills1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 10px; 
    align-items: center;
    justify-items: center;

}
#bills2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
 
    align-items: center;
    justify-items: center;

}
span {
    padding-top: 5px;
}
.notes {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.notes2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}
input[type=date] {
    width: auto;
    text-align: center;
    border-radius: 5px;
}
input[type=number] {
    width: 4em;
    text-align: center;
    border-radius: 5px;
}
input[type=textarea] {
    border-radius: 20px;
}